<h1>Topics</h1>

<h3>These are the topics we've been collecting data on so far.  Click on a topic to see how each school in our database has been talking about it!</h3>

<ul>
<% @topics.each do |topic| %>
  <li>(ID: <%= topic.id %>) <%= topic.name %></li>
<% end %>
</ul>
