<h1>test topic index</h1>

<ul>
  <h3>Here are the topics that people talk about</h3>
  <h3>Click on a topic to get more information</h3>
<% @topics.each do |topic| %>
  <li><%= link_to topic.name, topic_path(topic) %></li>
<% end %>

</ul>
