<h1><%= @topic.name %></h1>
<div>
    <h2>bar!</h2>
    <script>
    var data = <%= @popular_words.to_json.html_safe %>;
    barChart(data);
    </script>
</div>




<div>
    <h2>more bar!</h2>
    <script>
    var data = <%= @ratings_by_school.to_json.html_safe %>;
    barChart(data);
    </script>
</div>

