<h1>Schools</h1>
<h3>Choose a school to see its cultural profile and find out what its students have been talking about:</h3>

<div id="schools-list">
  <%@schools.each do |school|%>
    <div><%= link_to(image_tag("#{school.geofeedia_id}.png"), school_path(school)) %></div>
  <%end%>
</div>
