<h1><%= @school.name %></h1>

<h2>Pie chart: Positive vs. Negative</h2>

    <!-- Helpful example from https://gist.github.com/enjalot/1203641 -->
<div>
    <h2>The possi-vibes versus negi-vibes of a school</h2>
    <h3>Based on the overall sentiment of their input</h3>
    <script>
        var json = '<%= @social_media_profile.html_safe %>';
        var data = jQuery.parseJSON(json);
        pieChart(data);
    </script>
</div>

<div>
    <h2>A bar graph of the most popular topics</h2>
    <h3>Based on what students at <%= @school.name %> talk about</h2>
    <script>
        var data = <%= @ratings_profile.to_json.html_safe %>;
        barChart(data);
    </script>
</div>
