<h1><%= @school.name %></h1>
<h2>Social Media Activity: <%= @school.social_media_activity %></h2>
<h2>Positive Vibe Count: <%= @school.positive_vibe_ratio %></h2>
<h2>Negative Vibe Count: <%= @school.negative_vibe_ratio %></h2>
