<h1><%= @school.name %></h1>

<h3>A breakdown of all of the social media posts we've collected on this school so far based on their overall sentiment:</h3>

<div class="chart-div">
  <h2>The possi-vibes versus negi-vibes of a school</h2>
  <h3>Based on the overall sentiment of their input</h3>
  <div id="pie-chart" class="chart"></div>
</div>


<div class="chart-div">
  <h2>Topics</h2>
  <h3>These are the ten most prevalent topics students at <%= @school.name %> have been talking about:</h3>
  <div id="bar-chart-school" class="chart"></div>
</div>

<br><br><br><br><br><br><br><br>

<script>
  var json = '<%= @social_media_profile.html_safe %>';
  var data = jQuery.parseJSON(json);
  pieChart(data, "#pie-chart");

  var data2 = <%= @ratings_profile.to_json.html_safe %>;
  barChartSchool(data2, "#bar-chart_school");
</script>
