<h1>test about index</h1>

<p>(product title) is tool for prospective college students to view the student culture at different colleges via analysis of social media output on campuses.</p>

<p>Team: Andrew, Daniel, Jay, Jess, Lauren</p>
