<h1>Here's who we are and what we're about</h1>

<h3>&nbsp;trUism is tool for prospective college students to view the student culture at different colleges via analysis of social media output on campuses.</h3><br><br>

<p>Team: Andrew, Daniel, Jay, Jess, Lauren</p>
