/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  font-family: sans-serif;
 }

 .col {
  background-color: #EFEFEF;
  border: 1px solid orange;
  display: inline-block;
  width: 49%;
 }
 .right-col {
  /*border-left: 1px solid gray;*/
 }

 /* to aid D3 development */
 svg {
  border: 1px solid lightgray;
 }

nav ul li {
  display:inline;
  padding: 10px;
}

