/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  font-family: sans-serif;
  background: lightgray;
  font-family: 'noto_sansregular';
  margin-bottom: 0;
  padding-bottom: 0;
 }

 .col {
  background-color: #EFEFEF;
  border: 1px solid orange;
  display: inline-block;
  width: 49%;
 }
 .right-col {
  /*border-left: 1px solid gray;*/
 }

 /* to aid D3 development */
 svg {
  border: 1px solid lightgray;
 }

h2 {
  font-family: 'abeezeeregular';
}

#nav-bar-logo {
  height: 50px;
}

#footer {
  background: gray;
  color: white;
  text-align: center;
  font-size: .8em;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

#front-page-logo {
  width: 30%;
  margin: auto;
  margin-bottom: 0;
  position: relative;
/*  left: 3%;*/
}

#front-page-header {
  text-align: center;
  font-size: 1.5em;
}

#front-page-header h2 {
  margin-top: 0;
}

#front-page-header p {
  width: 60%;
  display: block;
  margin: auto;
}

#front-page-buttons {

  width: 30%;
  margin: 30px auto;
}

#front-page-buttons div {
  margin: 0 5%;
}

.button {
  width: 35%;
  background: gray;
  color: white;
  display: inline-block;
  height: 10%;
  border-radius: 10px;
  text-align: center;
}

.button a {
  color: white;
  text-decoration: none;
}
