<nav>
  <a href="/"><%= image_tag("truism_logo_white.png", id: "nav-bar-logo")%></a>
  <div id="nav-links">
    <%= link_to "Topics", controller: "topics" %>
    <%= link_to "Schools", controller: "schools" %>
    <%= link_to "About", controller: "about" %>
  </div>
</nav>
