<nav>
  <a href="/"><%= image_tag("truism_logo_2.png", id: "nav-bar-logo")%></a>
  <%= link_to "Topics", controller: "topics" %>
  <%= link_to "Schools", controller: "schools" %>
  <%= link_to "About", controller: "about" %>
</nav>
